In [73]:
import pandas as pd
import numpy as np

http://www1.nyc.gov/site/finance/taxes/property-determining-your-transitional-assessed-value.page

In [153]:
np.array(["a", "d"], dtype='i4')

ValueError: invalid literal for int() with base 10: 'a'

In [105]:
def search_columns(df, q):
    for k in raw_df.columns:
        if q in k:
            print(k)
            yield k

In [120]:
raw_df = pd.read_csv("./tmp.tsv", nrows=100, sep="\t", index_col=0)
q = list(search_columns(raw_df, 'sqft'))
len(raw_df.columns)

gr_sqft

117

In [144]:
raw_df.groupby(raw_df.bldgcl)['gr_sqft'].count()

bldgcl
A0      7117
A1    122946
A2     52433
A3      6229
A4      3778
A5     96746
A6      1102
A7       319
A8        29
A9     26285
B1     83698
B2     77139
B3     58481
B9     26138
C0     72417
G0      3058
R3     20123
R6       772
R7        26
S0       239
S1      6274
S2     14429
V0     24264
V2       635
V3       456
Z0       487
Name: gr_sqft, dtype: int64

In [143]:
raw_df.groupby(raw_df.bldgcl)['gr_sqft'].apply(lambda x: np.median(x))

bldgcl
A0    1266.0
A1    1580.0
A2    1248.0
A3    3192.0
A4    2669.5
A5    1520.0
A6     608.0
A7    5790.0
A8    9178.0
A9    1376.0
B1    2338.0
B2    2250.0
B3    1840.0
B9    2265.0
C0    3080.0
G0       0.0
R3    1070.0
R6    1606.5
R7    1699.5
S0    2557.0
S1    2160.0
S2    3090.0
V0       0.0
V2       0.0
V3       0.0
Z0       0.0
Name: gr_sqft, dtype: float64

In [141]:
raw_df['gr_sqft'][raw_df['bldgcl'].str.startswith('A')]

Series([], Name: gr_sqft, dtype: float64)

In [124]:
raw_df['gr_sqft'].isnull().mean()

0.0

In [114]:
raw_df.ix[raw_df['curavl'] != raw_df['curavl_a']][q + ['bldgcl']]

  bldgcl  bldgs  mbldg bldgcl
6     B1    1.0      0     B1

In [107]:
raw_df[q]

      curavl  curavl_a    tn_avl  tn_avl_a    fn_avl  fn_avl_a
0   110243.0  110243.0   51469.0   51469.0   51469.0   51469.0
1   165360.0  165360.0  134333.0  134333.0  134333.0  134333.0
2    52129.0   52129.0   51594.0   51594.0   51594.0   51594.0
3    24379.0   24379.0   27603.0   27603.0   27603.0   27603.0
4     6156.0    6156.0   17606.0   17606.0   17606.0   17606.0
5    61534.0   61534.0   59640.0   59640.0   59640.0   59640.0
6   274590.0  267300.0   84600.0   84600.0   84600.0   84600.0
7     6156.0    6156.0   17606.0   17606.0   17606.0   17606.0
8    27206.0   27206.0   21528.0   21528.0   21528.0   21528.0
9    15000.0   15000.0   19518.0   19518.0   19518.0   19518.0
10   23767.0   23767.0   93674.0   93674.0   93674.0   93674.0
11   26388.0   26388.0   44736.0   44736.0   44736.0   44736.0
12   44570.0   44570.0  128285.0  128285.0  128285.0  128285.0
13   44560.0   44560.0  106739.0  106739.0  106739.0  106739.0
14   44493.0   44493.0  106623.0  106623.0  106623.0  106623.0
15   44570.0   44570.0  142539.0  142539.0  142539.0  142539.0
16    3430.0    3430.0    9365.0    9365.0    9365.0    9365.0
17   10085.0   10085.0   26959.0   26959.0   26959.0   26959.0
18   10990.0   10990.0   27529.0   27529.0   27529.0   27529.0
19   10462.0   10462.0   25835.0   25835.0   25835.0   25835.0
20    9947.0    9947.0   24577.0   24577.0   24577.0   24577.0
21   10586.0   10586.0   23368.0   23368.0   23368.0   23368.0
22   10586.0   10586.0   25654.0   25654.0   25654.0   25654.0
23   10290.0   10290.0   25424.0   25424.0   25424.0   25424.0
24   11596.0   11596.0   28607.0   28607.0   28607.0   28607.0
25   11596.0   11596.0   28607.0   28607.0   28607.0   28607.0
26   23693.0   23693.0   95705.0   95705.0   95705.0   95705.0
27  134983.0  134983.0  190800.0  190800.0  190800.0  190800.0
28   23088.0   23088.0   20369.0   20369.0   20369.0   20369.0
29   28188.0   28188.0   61304.0   61304.0   61304.0   61304.0
..       ...       ...       ...       ...       ...       ...
70    3868.0    3868.0    4100.0    4100.0    4100.0    4100.0
71    2399.0    2399.0    2542.0    2542.0    2542.0    2542.0
72    3265.0    3265.0    3461.0    3461.0    3461.0    3461.0
73    3357.0    3357.0    3558.0    3558.0    3558.0    3558.0
74    1802.0    1802.0    1910.0    1910.0    1910.0    1910.0
75    3357.0    3357.0    3558.0    3558.0    3558.0    3558.0
76    1373.0    1373.0    1455.0    1455.0    1455.0    1455.0
77    3357.0    3357.0    3559.0    3559.0    3559.0    3559.0
78    1153.0    1153.0    1222.0    1222.0    1222.0    1222.0
79    3328.0    3328.0    3527.0    3527.0    3527.0    3527.0
80    1802.0    1802.0    1910.0    1910.0    1910.0    1910.0
81    3754.0    3754.0    3980.0    3980.0    3980.0    3980.0
82    2325.0    2325.0    2464.0    2464.0    2464.0    2464.0
83    3772.0    3772.0    3998.0    3998.0    3998.0    3998.0
84    2338.0    2338.0    2478.0    2478.0    2478.0    2478.0
85    3754.0    3754.0    3980.0    3980.0    3980.0    3980.0
86    2325.0    2325.0    2464.0    2464.0    2464.0    2464.0
87    3754.0    3754.0    3980.0    3980.0    3980.0    3980.0
88    2325.0    2325.0    2464.0    2464.0    2464.0    2464.0
89    3754.0    3754.0    3980.0    3980.0    3980.0    3980.0
90    2325.0    2325.0    2464.0    2464.0    2464.0    2464.0
91    3754.0    3754.0    3980.0    3980.0    3980.0    3980.0
92    2338.0    2338.0    2478.0    2478.0    2478.0    2478.0
93    3754.0    3754.0    3980.0    3980.0    3980.0    3980.0
94    2325.0    2325.0    2464.0    2464.0    2464.0    2464.0
95    3754.0    3754.0    3980.0    3980.0    3980.0    3980.0
96    2325.0    2325.0    2464.0    2464.0    2464.0    2464.0
97    2360.0    2360.0    2501.0    2501.0    2501.0    2501.0
98    2464.0    2464.0    2612.0    2612.0    2612.0    2612.0
99    2343.0    2343.0    2483.0    2483.0    2483.0    2483.0

[100 rows x 6 columns]

In [100]:
raw_df[['year4']].head()

    year4
0  2007.0
1  2007.0
2  2007.0
3  2007.0
4  2007.0

In [128]:
raw_df = pd.read_csv("./tmp.tsv", sep="\t", index_col=0, nrows=100)

In [131]:
raw_df = pd.read_csv("./tmp.tsv", sep="\t", index_col=0)

def _trans_and_delete(src_df, dst_df, old_k, new_k=None, dtype=None):
    items = src_df[k]
    if dtype:
        items = items.astype(dtype)
    dst_df[k] = new_k or old_k
    del src_df[old_k]


def create_output_df(src_df):
    # Extract the assessment value BBL as integers. 
    # This is the most important identifying information. 
    bbl_ks = ['boro', 'block', 'lot']
    
    dst_df = src_df[bbl_ks].astype('i4')
    for k in bbl_ks: 
        del src_df[k]        
    
    return dst_df


def extract_fiscal_year(src_df, dst_df):
    # For example: if the year4 = 2001 the current values are for the 
    # Fiscal year 2001/2002 assessments. The Tentative and Final value 
    # contain the predicted values for the 2002/2003 fiscal year. 
    dst_df.insert(0, 'fiscal_year', src_df['year4'].astype('i4'))
    del src_df['year4']
    
    
def drop_section_volume(src_df, _):
    del src_df['secvol']  # I can't see the purpose
    
    
def drop_easement_info(src_df, _):
    # AFAICT, this field is unused. 
    # However, it may mean there is a mistake in my MDB extractor!
    #assert all(src_df['ease'].isnull())
    del src_df['ease']
    
    #assert all(src_df['ap_ease'].isnull())
    #del src_df['ap_ease']
    
    
def translate_district_code(src_df, dst_df):
    _trans_and_delete(src_df, dst_df, 'district', assessor_district, 'i8')
    dst_df['assessor_district'] = src_df['district']
    del src_df['district']
    

    

BLOCK_RANGES = {1: (1, 2255),
                2: (2260, 5958),
                3: (1, 8955),
                4: (1, 16350),
                5: (1, 8050)}

def validate_boro_codes(src_df, dst_df):
    # First, make sure the parent code is the same or zero.
    for k in ['cp_boro', 'ap_boro']:
        assert all((src_df[k] == 0) | (src_df[k] == dst_df['boro']))
        del src_df[k]
        
    # Then, make sure the blocks align with what tarfieldcodes.pdf says.
    for boro, (lb, ub) in BLOCK_RANGES.items():
        blocks = dst_df['block'][dst_df['boro'] == boro]
        assert all(lb <= blocks)
        assert all(blocks <= ub)
        
        
def validate_block_codes(src_df, dst_df):
    assert all((src_df['ap_block'] == 0) | 
               (src_df['ap_block'] == dst_df['block']))
    del src_df['ap_block']
    
    
def extract_parent_lot(src_df, dst_df):
    # Apportionment for parent lot.
    ap_lot = src_df['ap_lot'].astype('i8')
    
    # I believe a zero value means "same as 
    dst_df['parent_lot'] = np.where(ap_lot==0, dst_df['lot'], ap_lot)
    del src_df['ap_lot']
    
    

    
    
    

TRANSFORMATIONS = [extract_fiscal_year,
                   #validate_boro_codes, 
                   #validate_block_codes,
                   #extract_parent_lot,
                   #drop_easement_info, 
                   drop_section_volume,
                   #translate_district_code, 
                   ]
    

def process_raw_df(src_df):
    dst_df = create_output_df(src_df)
    
    for f in TRANSFORMATIONS:
        f(src_df, dst_df)
    
    return dst_df

new_df = process_raw_df(raw_df)
new_df.head(10)

/Users/jbn/anaconda3/envs/shannon/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (1,5,54,88,91,94,98,101,107,110) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   fiscal_year  boro  block  lot
0         2007     1     75   43
1         2007     1     78   40
2         2007     1     97   17
3         2007     1     97   36
4         2007     1     97   44
5         2007     1     97   45
6         2007     1     97   55
7         2007     1     97  144
8         2007     1    106    6
9         2007     1    135   11

In [133]:
raw_df['ease'].value_counts()

E    214
F     12
N      4
G      3
H      2
K      1
Name: ease, dtype: int64

In [135]:
raw_df['ap_ease'].value_counts()

E    12
A     1
C     1
Name: ap_ease, dtype: int64

In [94]:
len(raw_df.columns)

107